<div class="title-container">
    <h2 class="ticket-subject">{{conversation.get().subject}}</h2>
    <div class="tags">
        <ng-template ngFor let-tag [ngForOf]="conversation.get().tags">
            <div class="tag-label" *ngIf="tag.type !== 'status'">
                <span class="tag-name">{{tag.name}}</span>
                <button class="no-style remove-tag-button" type="button" (click)="removeTag(tag)" title="Remove Tag" *ngIf="currentUser.hasPermission('tickets.update')">
                    <svg-icon name="close"></svg-icon>
                </button>
            </div>
        </ng-template>
    </div>
</div>

<div class="title-meta">
    <div class="ticket-created-at-date">{{conversation.get()['created_at_formatted']}} ({{conversation.get()['created_at_month']}})</div>
    <div class="actions" *ngIf="currentUser.hasPermissions(['replies.reply'])">
        <button class="button reply-button" (click)="conversation.openEditor()" tooltip="Reply (r)"><svg-icon name="reply"></svg-icon></button>
    </div>
</div>