@import "../../../assets/scss/variables";

user-profile {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $gray-bg-color;

  > .content {
    display: flex;
    padding: 25px;
    width: 100%;
    height: calc(100% - #{$navbar-height});
    overflow: hidden;

    > .sidebar {
      flex: 0 0 320px;
      width: 320px;
      margin-right: 15px;
      height: 100%;
      overflow: auto;

      .panel {
        margin-bottom: 15px;
        border: 1px solid $border-color;
        box-shadow: none;
        border-radius: 0;

        &.last {
          margin-bottom: 0;
        }

        .panel-header {
          padding: 8px;
        }
      }

      .user-info {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-color;
        margin-bottom: 15px;
        padding-bottom: 15px;

        > .avatar-dropdown {
          width: 65px;
          height: 65px;
          position: relative;

          &:hover .hover-overlay {
            display: flex;
          }

          &.disabled {
            cursor: default;

            > .hover-overlay {
              display: none;
            }
          }

          > .hover-overlay {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.5);
            justify-content: center;
            align-items: center;

            > svg-icon {
              width: 34px;
              height: 34px;
            }
          }

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        > .names {
          margin-left: 10px;

          > .name {
            font-size: 1.5rem;
          }

          > .email {
            color: $text-color-secondary;
          }
        }
      }

      .user-details {
        margin-top: 15px;

        > .details-row {
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          > .name {
            flex: 0 0 30%;
            max-width: 40px;
            margin-right: 20px;
          }

          > .value {
            flex: 1 1 auto;

            &.input-container {
              height: auto;

              > textarea {
                height: auto;
                padding: 5px;
                border-radius: 3px;
              }
            }
          }
        }

        .emails {
          > .primary-email {
            font-weight: 500;
          }

          > .secondary-email {
            margin-top: 8px;
          }
        }
      }
    }

    > .tickets {
      flex: 1 1 auto;
      overflow: hidden;
      border: 1px solid $border-color;

      > tickets-list {
        height: calc(100% - #{$pagination-controls-height});
        max-width: 100%;
        background-color: inherit;
      }

      > pagination-controls {
        border-top: 1px solid $border-color;
        background-color: $panel-background-color;
      }
    }
  }
}