<agent-navbar></agent-navbar>

<div class="content">
    <aside class="sidebar" customScrollbar="lite">
        <div class="panel">
            <div class="panel-body">
                <div class="user-info">
                    <dropdown class="avatar-dropdown" [disabled]="!detailsEditable">
                        <img class="user-avatar" src="{{user.avatar}}" alt="user avatar">
                        <div class="hover-overlay"><svg-icon name="edit"></svg-icon></div>
                        <div class="dropdown-menu" #menu>
                            <div class="dropdown-item upload-avatar-item" #menuItem (click)="openAvatarUploadDialog()" trans>Upload</div>
                            <div class="dropdown-item delete-avatar-item" #menuItem (click)="deleteAvatar()" trans>Remove</div>
                        </div>
                    </dropdown>
                    <div class="names">
                        <div class="name">{{user.display_name}}</div>
                        <div class="email primary-email">{{user.email}}</div>
                    </div>
                </div>
                <div class="user-details">
                    <div class="details-row">
                        <div class="name" trans>Details</div>
                        <div class="input-container value">
                            <textarea name="details" id="details" [formControl]="profile.controls['details']" [readonly]="!detailsEditable"></textarea>
                        </div>
                    </div>

                    <div class="details-row">
                        <div class="name" trans>Notes</div>
                        <div class="input-container value">
                            <textarea name="notes" id="notes" [formControl]="profile.controls['notes']" [readonly]="!detailsEditable"></textarea>
                        </div>
                    </div>

                    <div class="details-row">
                        <div class="name" trans>Emails</div>
                        <div class="emails value">
                            <div class="email primary-email">{{user.email}}</div>
                            <div class="email secondary-email" *ngFor="let email of user.secondary_emails">
                                <button class="remove-email-button round-close-button" *ngIf="detailsEditable" (click)="removeEmail(email.address)">
                                    <svg-icon name="close"></svg-icon>
                                </button>
                                <span>{{email.address}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="details-row" *ngIf="detailsEditable">
                        <button class="button flat add-email-button" (click)="openAddEmailModal()" trans>Add Email</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-header" trans>Tags</div>
            <div class="panel-body">
                <tags-manager (onChange)="syncUserTags($event)" [readonly]="!detailsEditable"></tags-manager>
            </div>
        </div>

        <div class="panel last">
            <div class="panel-header" trans>Permissions & Groups</div>
            <div class="panel-body">
                <user-access-manager [user]="user" [readonly]="!detailsEditable"></user-access-manager>
            </div>
        </div>
    </aside>

    <div class="tickets">
        <tickets-list [openTicketInModal]="true" [fetchTickets]="false" [items]="paginator.data">
            <no-results-message [class.hidden]="!paginator.doesNotHaveResults()">
                <span primary trans>Nothing To Display.</span>
                <span secondary trans>Seems like this user did not create any tickets yet.</span>
            </no-results-message>
        </tickets-list>

        <pagination-controls [paginator]="paginator" defaultPerPage="10" itemsName="Tickets"></pagination-controls>
    </div>
</div>